body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #080650, #5956b0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

.header-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header-title-image {
    width: 100%;
    object-fit: fill;
}

.header-team-logo {
    width: 50%
}

.header-profile-image {
    width: 20%;
    border-radius: 50%;
    border: 4px solid black;
    margin-right: 15%;
}

.statsbox-container {
    display: flex;
    width: 40%;
    margin-top: -10%;
    margin-left: 5%;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 15%;
    color: white;
    padding: 2%;
}

.statsbox-title {
    text-align: center;
    font-size: 50px;
    margin-top: -2%;
}

.statsbox-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1%;
    font-size: medium;

}

.statsbox-grid-tag {
    text-align: left;
}

.statsbox-grid-value {
    text-align: right;
}